.details-container {
    width: 100vw;
    height: 100vh;
}

.details-box {
    margin: 30px auto;
    width: 60%;
    height: fit-content;
    background-color: #F6F7EB;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: 4px 4px 6px #2f2f2d;
}

.details-box div img {
    border: 3px solid #2f2f2d;
}

.movie-details {
    margin: 2% auto;
    width: 60%;
}