.edit-top {
    margin: 0 auto;
    width: fit-content;
}

#title-input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #17A398;
    font-size: 110%;
    margin-bottom: 1%;
    /* width: ; */
}

.edit-img {
    margin: 1% 0;
}

.edit-img img {
    width: 185px;
    height: 258px;
    border: 4px solid #d1d2c8;
    border-radius: 10px;
}

.add-container button {
    cursor: pointer;
}

li {
    list-style: none;
}

.edit-genre h3 {
    margin-bottom: 1%;
}

.edit-genre hr {
    margin-top: 0;
    width: 30%;
}

.genre-select {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 90%;
}

.edit-add {
    margin: 1% auto;
    margin-bottom: 2%;
}

.edit-add {
    background-color: transparent;
    border: none;
    margin-left: 2%;
    font-size: 125%;
}

.edit-add:hover {
    transition: 0.2s;
    border: 0px solid #d1d2c8;
    box-shadow: 
        inset 0px 0px 1px #c6c7be,
        inset 0px 0px 2px #c6c7be,
        inset 0px 0px 3px #b2b4aa,
        inset 0px 0px 5px #abada4,
        inset 0px 0px 7px #bec0b6;
}

.edit-buttons button {
    background-color: transparent;
    border: none;
    font-size: 100%;
}

.edit-buttons button:hover {
    color: #F17F29;
}